version: 2.1

executors:
    go:
        docker:
            -
                image: circleci/golang:1.12
                environment:
                    GOFLAG: -mod=readonly

commands:
    restore_go_module_cache:
        description: Restore Go module cache
        steps:
            -
                restore_cache:
                    name: Restore Go module cache
                    keys:
                        - gomod-v1-{{ checksum "go.sum" }}-{{ .Branch }}
                        - gomod-v1-{{ checksum "go.sum" }}
    download_go_modules:
        description: Download go modules
        steps:
            -
                run:
                    name: Download Go module cache
                    command: go mod download
    make_config:
        description: Make config.toml
        steps:
            -
                run:
                    name: Create config
                    command: make config/config.toml

jobs:
    build:
        executor: go
        steps:
            - checkout
            - restore_go_module_cache
            - download_go_modules
            -
                save_cache:
                    name: Save Go module cache
                    key: gomod-v1-{{ checksum "go.sum" }}-{{ .Branch }}
                    paths:
                        - /go/pkg/mod
            -
                run:
                    name: Build
                    command: make build
            -
                store_artifacts:
                    path: build/

    static-checks:
        executor: go
        steps:
            - checkout
            - restore_go_module_cache
            - download_go_modules
            -
                restore_cache:
                    name: Restore license cache
                    keys:
                        - licensei-v1-{{ checksum "go.sum" }}-{{ .Branch }}
                        - licensei-v1-{{ checksum "go.sum" }}
            -
                run:
                    name: Download license information for dependencies
                    command: make license-cache
            -
                save_cache:
                    name: Save license cache
                    key: licensei-v1-{{ checksum "go.sum" }}-{{ .Branch }}
                    paths:
                        - .licensei.cache
            -
                run:
                    name: Check dependency licenses
                    command: make license-check
            -
                run:
                    name: Check generated OpenAPI files
                    command: sha256sum -c client/SHA256SUMS > /dev/null || { echo "Please generate client code using make generate-client"; exit 1; }
            -
                run:
                    name: Run linter
                    command: make lint
    unit-tests:
        docker:
            -
                image: circleci/golang:1.12
                environment:
                    GOFLAG: -mod=readonly
            -
                image: vault:0.11.5
                environment:
                    SKIP_SETCAP: true
                    VAULT_DEV_ROOT_TOKEN_ID: 227e1cce-6bf7-30bb-2d2a-acc854318caf
        parallelism: 2
        steps:
            - checkout
            - restore_go_module_cache
            - download_go_modules
            - make_config
            -
                run:
                    name: Run tests
                    environment:
                        VAULT_ADDR: http://localhost:8200
                        VAULT_TOKEN: 227e1cce-6bf7-30bb-2d2a-acc854318caf
                    command: |
                        PIPELINE_CONFIG_DIR=$PWD/config \
                        GOARGS="-p=2" \
                        TEST_PKGS=$(echo `go list ./... | circleci tests split --split-by=timings`) \
                        TEST_REPORT_NAME=results_${CIRCLE_NODE_INDEX}.xml \
                        make test
            -
                store_test_results:
                    path: build/test_results/
            -
                store_artifacts:
                    path: build/

    integration-tests:
        docker:
            -
                image: circleci/golang:1.12
                environment:
                    GOFLAG: -mod=readonly
            -
                image: vault:0.11.5
                environment:
                    SKIP_SETCAP: true
                    VAULT_DEV_ROOT_TOKEN_ID: 227e1cce-6bf7-30bb-2d2a-acc854318caf
        parallelism: 2
        steps:
            - checkout
            - restore_go_module_cache
            - download_go_modules
            - make_config
            -
                run:
                    name: Run integration tests
                    command: |
                        TEST_PKGS=$(echo `go list ./... | circleci tests split --split-by=timings`) \
                        TEST_REPORT_NAME=results_${CIRCLE_NODE_INDEX}.xml \
                        PIPELINE_CONFIG_DIR=$PWD/config \
                        GOARGS="-p=2" \
                        make test-integration
                    environment:
                        VAULT_ADDR: http://localhost:8200
                        VAULT_TOKEN: 227e1cce-6bf7-30bb-2d2a-acc854318caf
            -
                store_test_results:
                    path: build/test_results/
            -
                store_artifacts:
                    path: build/
    db-tests:
        docker:
            -
                image: circleci/golang:1.12
                environment:
                    GOFLAG: -mod=readonly
            -
                image: mysql:5.7
                command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
                environment:
                    MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            -
                image: vault:0.11.5
                environment:
                    SKIP_SETCAP: true
                    VAULT_DEV_ROOT_TOKEN_ID: 227e1cce-6bf7-30bb-2d2a-acc854318caf
        steps:
            - checkout
            - restore_go_module_cache
            - download_go_modules
            -
                run:
                    name: Install test dependencies
                    command: sudo apt-get install -y mysql-client mysql-utilities
            -
                run:
                    name: Wait for MySQL
                    command: |
                        timeout 60 sh -c 'until nc -z 127.0.0.1 3306; do sleep 1; done'
            - make_config
            -
                run:
                    name: Create databases
                    command: |
                        mysql -h 127.0.0.1 -u root -e "CREATE DATABASE pipeline_migrations;"
                        mysql -h 127.0.0.1 -u root -e 'CREATE DATABASE pipeline_automigrate; USE pipeline_automigrate; CREATE TABLE `schema_migrations` (`version` bigint(20) NOT NULL, `dirty` tinyint(1) NOT NULL, PRIMARY KEY (`version`)) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;'

            -
                run:
                    name: Test database migrations
                    command: |
                        make bin/migrate
                        bin/migrate -source "file://database/migrations" -database "mysql://root:@tcp(127.0.0.1:3306)/pipeline_migrations?multiStatements=true&charset=utf8mb4" up

            -
                run:
                    name: Test database auto migrations
                    command: go run -tags automigrate ./cmd/pipeline/automigrate.go ./cmd/pipeline/migrate.go
                    environment:
                        PIPELINE_DATABASE_HOST: 127.0.0.1
                        PIPELINE_DATABASE_USER: root
                        PIPELINE_DATABASE_PASSWORD: ""
                        PIPELINE_DATABASE_ROLE: ""
                        PIPELINE_DATABASE_DBNAME: pipeline_automigrate
                        VAULT_ADDR: http://localhost:8200
                        VAULT_TOKEN: 227e1cce-6bf7-30bb-2d2a-acc854318caf

            -
                run:
                    name: Test database schema diff
                    command: mysqldiff --skip-table-options --server1=root:@127.0.0.1:3306 --server2=root:@127.0.0.1:3306 pipeline_migrations:pipeline_automigrate

            -
                run:
                    name: Test database migrations are reversible
                    command: |
                        bin/migrate -source "file://database/migrations" -database "mysql://root:@tcp(127.0.0.1:3306)/pipeline_migrations?multiStatements=true&charset=utf8mb4" down
                        bin/migrate -source "file://database/migrations" -database "mysql://root:@tcp(127.0.0.1:3306)/pipeline_migrations?multiStatements=true&charset=utf8mb4" up

            -
                run:
                    name: Test database schema diff again
                    command: mysqldiff --skip-table-options --server1=root:@127.0.0.1:3306 --server2=root:@127.0.0.1:3306 pipeline_migrations:pipeline_automigrate

workflows:
    version: 2
    ci:
        jobs:
            - build
            - static-checks
            - integration-tests
            - unit-tests
            - db-tests
